<div class="container-fluid" id="tablaCafe">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr class="encabezado">
          <th class="h4">#</th>
          <th class="h4">Nombre</th>
          <th class="h4">Tipo</th>
          <th class="h4">Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cafes">
          <td>
            <dd style="font-weight: bold;">{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.nombre}}</dd>
          </td>
          <td>
            <dd>{{c.tipo}}</dd>
          </td>
          <td>
            <dd>{{c.region}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Total café de origen {{contOrigen}}</p>
    <p>Total café blend {{contBlend}}</p>
  </div>
</div>
